body {
  background-image: url("fondo_3.jpg");
 }
 h1 {
   position: relative;
   text-align: center;
   color: snow;
   font-size: 50px;
   font-family: "Cormorant Garamond", serif;
 }
.frame {
   width: 40%;
   margin: 40px auto;
   text-align: center;
   background-color: cadetblue;
 }
 button {
   margin: 20px;
   
 }
 .custom-btn {
   width: 150px;
   height: 40px;
   color: #fff;
   border-radius: 5px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
 }

.btn-3 {
   background: rgb(0,172,238);
 background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
   width: 180px;
   height: 40px;
   line-height: 42px;
   padding: 0;
   border: none;
   
 }
 .btn-3 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
 }
 .btn-3:before,
 .btn-3:after {
   position: relative;
   content: "";
   right: 10%;
   top: 10%;
   background: rgba(2,126,251,1);
   transition: all 0.3s ease;
 }
 .btn-3:before {
   height: 0%;
   width: 2px;
 }
 .btn-3:after {
   width: 0%;
   height: 2px;
 }
 .btn-3:hover{
    background: transparent;
   box-shadow: none;
 }
 .btn-3:hover:before {
   height: 100%;
 }
 .btn-3:hover:after {
   width: 100%;
 }
 .btn-3 span:hover{
    color: rgba(2,126,251,1);
 }
 .btn-3 span:before,
 .btn-3 span:after {
   position: absolute;
   content: "";
   left: 0;
   bottom: 0;
   background: rgba(2,126,251,1);
   transition: all 0.3s ease;
 }
 .btn-3 span:before {
   width: 2px;
   height: 0%;
 }
 .btn-3 span:after {
   width: 0%;
   height: 2px;
 }
 .btn-3 span:hover:before {
   height: 100%;
 }
 .btn-3 span:hover:after {
   width: 100%;
 }

 :root {
   
   /* SIZES */
   --max-width: 450px;
   --max-height: 600px;

}
#container{
   
   background-color: #e0e5ec;
   border-radius: #e0e5ec;
   box-shadow: 0 0.9rem 1.7rem rgba(138, 134, 134, 0.25),
       0 0.7rem 0.7rem rgba(170, 167, 167, 0.22);
   height: var(--max-height);
   max-width: var(--max-width);
   overflow: hidden;
   position: relative;
   margin-top: 6%;
   left: 36%;
   border-radius: 2%;
   
   /*background-color: var(--white);
   border-radius: var(--button-radius);
   box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
       0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
   
   max-width: var(--max-width);
   position: relative;
   left: 40%;
   width: 20%;*/
}
a{
 margin: 20px;
 text-align: center;
 font-family: 'Lato', sans-serif;
}

.btn-4 {
background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
width: 180px;
height: 40px;
line-height: 42px;
padding: 0;
border: none;

}
.btn-4 span {
position: relative;
display: block;
width: 100%;
height: 100%;
}
.btn-4:before,
.btn-4:before:after {
position: relative;
content: "";
right: 10%;
top: 10%;
background: rgb(251, 2, 2);
transition: all 0.3s ease;
}
.btn-4:before {
height: 0%;
width: 2px;
}
.btn-4:after {
width: 0%;
height: 2px;
}
.btn-4:hover{
 background: transparent;
box-shadow: none;
}
.btn-4:hover:before {
height: 100%;
}
.btn-4:hover:after {
width: 100%;
}
.btn-4 span:hover{
 color: rgb(251, 2, 2);
}
.btn-4 span:before,
.btn-4 span:after {
position: absolute;
content: "";
left: 0;
bottom: 0;
background: rgb(251, 2, 2);
transition: all 0.3s ease;
}
.btn-4 span:before {
width: 2px;
height: 0%;
}
.btn-4 span:after {
width: 0%;
height: 2px;
}
.btn-4 span:hover:before {
height: 100%;
}
.btn-4 span:hover:after {
width: 100%;
}

#elpepe{
position: relative;
font-size: medium;
font-family: "Cormorant Garamond", serif;
right: 120%;
top: 120%;
color: black;
float: left;

}
#elpepe_2{
  position: relative;
  font-size: medium;
  font-family: "Cormorant Garamond", serif;
  right: 120%;
  top: 150%;
  color: black;
  float: left;
  
  }

#txt_1{
  font-family: "Cormorant Garamond", serif;
  color: black;
  position: relative;
  right: 0%;
  top: 170%;

  float: left;
  }

#txt_2{
    font-family: "Cormorant Garamond", serif;
    color: black;
    position: absolute;
    right: 0%;
    top: 440%;

    
    float: left;
    }
#txt_3{
    font-family: "Cormorant Garamond", serif;
    color: black;
    position: absolute;
    right: 0%;
    top: 1000%;

      
    float: left;
    }

    #txt_4{
      font-family: "Cormorant Garamond", serif;
      color: black;
      position: absolute;
      right: 0%;
      top: 265%;
  
      
      float: left;
      }
  #txt_5{
      font-family: "Cormorant Garamond", serif;
      color: black;
      position: absolute;
      right: 0%;
      top: 640%;
  
        
      float: left;
      }
      #txt_6{
        font-family: "Cormorant Garamond", serif;
        color: black;
        position: absolute;
        right: 0%;
        top: 455%;
    
          
        float: left;
        }
#txt_0{
  font-family: "Cormorant Garamond", serif;
    color: rgb(34, 39, 39);
    position: absolute;
    top: 15%;
    right: 35%;
}

#txt_6{
  font-family: "Cormorant Garamond", serif;
  color: black;
  position: absolute;
  right: 0%;
  top: 630%;

    
  float: left;
}
#txt_7{
  font-family: "Cormorant Garamond", serif;
  color: black;
  position: absolute;
  right: 0%;
  top: 455%;

    
  float: left;
}
#txt_4_2{
  font-family: "Cormorant Garamond", serif;
  color: black;
  position: absolute;
  right: 0%;
  top: 265%;

  
  float: left;
  }
  #txt_6_2{
    font-family: "Cormorant Garamond", serif;
    color: black;
    position: absolute;
    right: 0%;
    top: 640%;

      
    float: left;
    }

    #txt_5_2{
      font-family: "Cormorant Garamond", serif;
      color: black;
      position: absolute;
      right: 0%;
      top: 820%;
  
        
      float: left;
      }